.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

li {
  list-style-type: none; /* Убираем маркеры */
}

.prod {
  display: flex;
  justify-content: space-evenly;
  display: inline-block;
  width: 55vw;
}


